[submodule "Dependencies/BlueBlur"]
	path = Dependencies/BlueBlur
	url = https://github.com/blueskythlikesclouds/BlueBlur.git
[submodule "Dependencies/rangers-api"]
	path = Dependencies/rangers-api
	url = https://github.com/DeaTh-G/rangers-api.git
[submodule "Dependencies/imgui/imgui"]
	path = Dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui.git
