[submodule "Dependencies/CommonLoader"]
	path = Dependencies/CommonLoader
	url = https://github.com/hedge-dev/CommonLoader.git
[submodule "Dependencies/eigen"]
	path = Dependencies/eigen
	url = https://github.com/PX4/eigen.git
[submodule "Dependencies/HE1ML"]
	path = Dependencies/HE1ML
	url = https://github.com/hedge-dev/HE1ML.git
[submodule "Dependencies/json"]
	path = Dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "Framework/Dependencies/curl"]
	path = Framework/Dependencies/curl
	url = https://github.com/curl/curl.git
[submodule "Framework/Dependencies/json"]
	path = Framework/Dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "Framework/Dependencies/xxHash"]
	path = Framework/Dependencies/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Games/Fallout 4/Dependencies/f4se"]
	path = Games/Fallout 4/Dependencies/f4se
	url = https://github.com/ianpatt/f4se
[submodule "Games/Sonic Generations/Dependencies/BlueBlur"]
	path = Games/Sonic Generations/Dependencies/BlueBlur
	url = https://github.com/blueskythlikesclouds/BlueBlur.git
[submodule "Games/Zelda 64 Recompiled/Dependencies/Zelda64RecompSyms"]
	path = Games/Zelda 64 Recompiled/Dependencies/Zelda64RecompSyms
	url = https://github.com/Zelda64Recomp/Zelda64RecompSyms.git
[submodule "Games/Zelda 64 Recompiled/Dependencies/mm"]
	path = Games/Zelda 64 Recompiled/Dependencies/mm
	url = https://github.com/zeldaret/mm.git
[submodule "Games/Zelda 64 Recompiled/Dependencies/MMRecompModTemplate"]
	path = Games/Zelda 64 Recompiled/Dependencies/MMRecompModTemplate
	url = https://github.com/Zelda64Recomp/MMRecompModTemplate.git
